<div id="login-content" class="content-intro">
    <label for="username" class="mb-4">Email</label>
    <input id="email" pInputText type="text" class="mb-24" placeholder="Ingrese email">
    <label for="username" class="mb-4">Contraseña</label>
    <p-password [toggleMask]="true" class="mb-40 fw" placeholder="Ingrese contraseña" />
    <p-button label="Acceder" class="fw" [raised]="true" />
    <p-divider align="center" type="dotted"> o </p-divider>
    <p-button label="Acceder con Google" [outlined]="true" severity="secondary"
        icon="pi pi-google" />
</div>