.container {
    display: flex;
    height: 100vh;
}

.content-section {
    display: flex;
    flex: 1;
    flex-direction: row;
    /* Coloca blue-section y white-section uno al lado del otro */
}
.card-text {
    width: 80%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto 0;
    flex-direction: column;
    margin-top: 20%;
}

.blue-section {
    flex: 2;
    background-color: #303150;
    background-image: url('/assets/images/City.jpg');
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* Asegura que los elementos hijos se apilen verticalmente */
}

.header-section {
    width: 100%;
    height: 10%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 30px;
}

.header-section .logo {
    max-height: 100%;
}

.login-content-form {
    width: 80%;
    display: flex;
    flex-direction: column;
}


.login-white-section {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 5px solid #4798d3;
    gap: 16px;
}

::ng-deep .p-selectbutton .p-button {
    width: 50% !important;
}

::ng-deep .p-input-icon-right > .p-inputtext {
    width: 100%;
}

.pill-ia{
    background-color: #2B2B46;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    font-size: 12px;
    display: flex;
    gap: 4px;
}
  